@{

}
<div id="actionLogValModal">
    <div class="container">
        <table id="tblactionlog_contact" class="table table-bordered  table-hover table-condensed hide">
            <thead class="gray-header">
                <tr>
                    <th scope="col" class="text-center colheader" data-col="0" data-keyword="">@Resources.Resource.Name</th>
                    <th scope="col" class="text-center colheader" data-col="1" data-keyword="">@Resources.Resource.Contact</th>
                    <th scope="col" class="text-center colheader" data-col="2" data-keyword="">@Resources.Resource.Email</th>
                    <th scope="col" class="text-center colheader" data-col="3" data-keyword="">@Resources.Resource.Phone</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div id="pagination-actionlog_contact"></div>
    </div>
</div>
