@model  IEnumerable<SBLib.Models.GlobalAttributeModel>
@{

}
<div id="advancedSearchModal" class="small">
    <fieldset class="default-border">
        @Html.Partial("_AdvSearchItem", Model)
    </fieldset>
</div>
