@{ 
    var _checked = ViewData["checked"] == null ? "" : ViewData["checked"].ToString();
}
<div class="form-check form-check-inline mx-2">
    <input class="form-check-input" type="checkbox" id="chkAllLoc" value="1" @_checked>
    <label class="form-check-label small danger font-weight-bold" for="chkAllLoc">@Resources.Resource.ApplyToAllSalesLocation</label>
</div>