@{ 

}
<div id="changeModal">
	<div class="row justify-content-center">
		<h4>@Resources.Resource.TotalSalesAmount <span id="totalsalesamt"></span></h4>
	</div>
	<h3 class="my-4 text-center">@Resources.Resource.SalesChange</h3>
	<h2 class="text-center"><span id="changeamt"></span></h2>
	<p class="warning"></p>
</div>

