<div id="comboModal">
    <div class="form-group">
        <label class="control-label" for="attrName">@Resources.Resource.AttributeName</label>
        <input type="text" id="attrName" class="form-control attname" />
    </div>
    <div class="container">

    </div>
    @Html.AntiForgeryToken()
</div>
