@{ 

}
<div id="contactModal">
    @*<div id="searchBlk" class="form-inline my-4">
        <div class="form-group">
            <input type="text" class="form-control" id="txtCustomer" placeholder="@Resources.Resource.EnterCusCodeNamePhone" style="width:300px; max-width:none;" />
            <span class="warning"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-default mx-2" id="btnSearchCustomer">@Resources.Resource.Search</button>
        </div>
    </div>*@

    <table id="tblContact" class="table table-bordered  table-hover table-condensed">
        <thead>
            <tr class="gray-header">
                <th>@Resources.Resource.cusCode</th>
                <th>@Resources.Resource.CusName</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <br />
    <div class="CusPager"></div>

</div>
