@{ }
<div id="currencySettingModal">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="currencysetting" id="abssCurrency" value="abss">
        <label class="form-check-label" for="abssCurrency">ABSS @Resources.Resource.Currency</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="currencysetting" id="apiCurrency" value="api">
        <label class="form-check-label" for="apiCurrency">API @Resources.Resource.Currency</label>
    </div>
</div>
