@{ 
    string datefromtxt = (string)ViewData["DateFromTxt"];
    string datetotxt = (string)ViewData["DateToTxt"];
}
<span class="label mx-3">@Resources.Resource.From</span>
<input class="col-12 col-md-3 form-control range" type="text" id="datetimesmin" name="strfrmdate" />
<span class="mx-3">@Resources.Resource.To</span>
<input class="col-12 col-md-3 form-control range" type="text" id="datetimesmax" name="strtodate" />
<input type="hidden" id="DateFromTxt" name="DateFromTxt" value="@datefromtxt"/>
<input type="hidden" id="DateToTxt" name="DateToTxt" value="@datetotxt" />
