@{
    bool edit = (bool)ViewData["edit"];
    List<PPWCommonLib.BaseModels.Country> Countries = (List<PPWCommonLib.BaseModels.Country>)ViewData["Countries"];
    //int selectedCountry = Convert.ToInt32(ViewData["SelectedCountry"]);
    string selectedCountry = (string)ViewData["SelectedCountry"];
}

<label class="control-label" for="cusCountry">@Resources.Resource.Country</label>
<select id="cusCountry" class="form-control">
    <option value="">-- @Resources.Resource.Select --</option>
    @foreach (var country in Countries)
    {
        var _selected = "";
        if (edit)
        {
            _selected = selectedCountry == country.CountryName ? "selected" : "";
        }
        else
        {
            _selected = country.CountryName == Resources.Resource.HongKong ? "selected" : "";
        }

        <option value="@country.CountryID" @_selected>@country.CountryName</option>
    }
</select>
