<div id="gcomboModal">
    <div class="container">
        <div class="row justify-content-end">
            <img id="btnPlus" src="~/Images/plus.png" alt="plus" title="plus" class="mx-2 imgbtn" />
            <img id="btnMinus" src="~/Images/remove.png" alt="minus" title="minus" class="imgbtn" />
        </div>

        <form class="mt-4">
            <div class="form-group">
                <input type="text" class="form-control gcombo" />
            </div>            
        </form>
    </div>
    @Html.AntiForgeryToken()
</div>

<a href="https://www.flaticon.com/free-icons/plus" title="plus icons" class="hide">Plus icons created by kliwir art - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/minus" title="minus icons" class="hide">Minus icons created by Roundicons - Flaticon</a>