@{ 

}
<div id="groupSalesmenModal">
    <div class="container">
        <table id="tblgroupSalesmen" class="table table-bordered  table-hover table-condensed">
            <thead class="gray-header">
                <tr>
                    <th>@Resources.Resource.Code</th>
                    <th>@Resources.Resource.Name</th>
                    <th>
                        @Resources.Resource.Email
                    </th>
                    <th>@Resources.Resource.Manager</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="pagination-groupsalesmen"></div>
    </div>
</div>