@using SBLib.Models;
@{
	SessUser user = (SessUser)HttpContext.Current.Session["User"];
	bool unauthorized = TempData["UnAuthorized"] == null ? false : (bool)TempData["UnAuthorized"];
	bool enabledcheckdayends = user != null ? user.EnableCheckDayends : false;
	var signintxt = string.Concat(Resources.Resource.SignIn, " Outlook");
	var signouttxt = string.Concat(Resources.Resource.SignOut, " Outlook");
	var shop = user.shopCode ?? ConfigurationManager.AppSettings["Shop"];
	var device = user.dvcCode ?? ConfigurationManager.AppSettings["Device"];
}


@if (user != null)
{

	@Html.Partial("_LangPartial")
	<div class="header__logout">
		@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
		{
			<a id="btnLogout" role="button" href="#"><img src="~/Content/mean/img/Logout.png" alt=""></a>
		}

	</div>

}

<div id="loginblk" data-unauthorized="@unauthorized" data-enabledcheckdayends="@enabledcheckdayends"></div>
<script src="~/Scripts/ts/js/logout.js?v=@CommonHelper.GetVersionRandomNo()"></script>
