<div id="docModal">
    <div class="container">
        <table id="tbldoc" class="table table-bordered  table-hover table-condensed">           
            <tbody>            
            </tbody>
        </table>
    </div>
</div>
