<select class="form-control operator">
    <option value="eq">@Resources.Resource.Equal</option>
    <option value="ne">@Resources.Resource.NotEqual</option>
    <option value="gt">></option>
    <option value="gteq">>=</option>
    <option value="lt"><</option>
    <option value="lteq"><=</option>
    <option value="contains">@Resources.Resource.Contains</option>
    <option value="notcontains">@Resources.Resource.NotContains</option>
</select>
