@{

}
<div id="poItemVariModal" style="background-color: #eae3fc;">
    <div class="form-group">
        <label>@Resources.Resource.Batch</label>
        <select id="batcode" class="form-control"></select>
    </div>
    <div class="container">

    </div>
</div>
