<div id="purchaseSerialModal">
    <h4 id="serialLocItem"></h4>
    <table id="tblPserial" class="table table-bordered  table-hover table-condensed">
        <thead class="gray-header">
            <tr>
                <th style="width:5%;"></th>
                <th>@Resources.Resource.SerialNo</th>
                <th>@Resources.Resource.ExpiryDate</th>
                <th><button type="button" class="btn btn-info snplus"><i class="fa fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
