<div id="salesmenModal">
    <div class="container">
        <table id="tblsalesmen" class="table table-bordered  table-hover table-condensed">
            <colgroup>
                <col width="130" />
                <col width="210" />
                <col width="220" />
                <col width="140" />
            </colgroup>
            <thead class="gray-header">
                <tr>
                    <th scope="col">@Resources.Resource.Name</th>
                    <th scope="col">@Resources.Resource.Email</th>
                    <th scope="col">@Resources.Resource.Notes</th>
                    <th scope="col">@Resources.Resource.LastUpdateTime</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
