<div id="salesmenModal">
    <div class="container">
        <table id="tblsalesmen" class="table table-bordered  table-hover table-condensed">			
            <thead class="gray-header">
				<tr>
					<th>@Resources.Resource.Name</th>					
					<th>@Resources.Resource.Notes</th>
					<th class="text-center">@Resources.Resource.LastUpdateTime</th>
					<th class="text-center"></th>
				</tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
