@{

}
<div id="textareaModal">
    <div class="container">
        <form>
            <div class="form-group">
                <label for="" class="form-label"><span id="lblField"></span></label>
                <textarea id="txtField" class="form-control" style="max-width:none;" rows="10"></textarea>
            </div>
        </form>
    </div>
</div>