<div class="txtblk" data-couponexpiredwarning="@Resources.Resource.CouponExpiredWarning" data-previewtxt="@Resources.Resource.Preview" data-promotionalemailtxt="@Resources.Resource.PromotionalEmail"></div>
