@{ 
    string uploadUrl = ViewData["uploadUrl"] == null ? "" : (string)ViewData["uploadUrl"];
    var rand = CommonHelper.GetVersionRandomNo();
}

<div id="uploadFileModal" class="container">
    <form action="@uploadUrl" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFile" id="uploadFile" />
        <button type="button" class="btn btn-success my-2" id="btnUpload">@Resources.Resource.Upload</button>     
    </form>
    <div id="uploadmsg" class="d-inline-block alert alert-warning hide"></div>
</div>

<script src="~/Scripts/uploadfile.js?v=@rand"></script>
