@{
	
}

<div class="viewfileblk">
	<h5 class="clearfix">
		@Resources.Resource.PoFiles
		<button type="button" class="btn btn-warning btnPoUpload btnsmall50 float-right" title="@Resources.Resource.UploadFile"><i class="fa fa-upload"></i></button>
	</h5>
	<ul class="horizontallist img">
		
	</ul>
	<ul class="horizontallist file">
		
	</ul>
</div>
