@{ 

}

<div id="voidPaymentModal">
	<div class="container">
		<p class="alert alert-danger">@Resources.Resource.ConfirmVoidPayment</p>
		<input type="text" id="txtUserName" class="form-control" data-name="@Model.User.UserName" placeholder="@Resources.Resource.Name1" />
		<span class="text-danger hide small font-weight-bold">@Resources.Resource.NamesNotMatchErr</span>
	</div>
</div>
