#tblCustomer th:nth-child(1), #tblCustomer td:nth-child(1){
	width:220px!important;
}
#tblCustomer th:nth-child(2), #tblCustomer th:nth-child(3), #tblCustomer th:nth-child(7), #tblCustomer td:nth-child(2), #tblCustomer td:nth-child(3), #tblCustomer td:nth-child(7) {
	width: 110px !important;
}
#tblCustomer th:nth-child(4), #tblCustomer td:nth-child(4) {
	width: 250px !important;
}

#tblCustomer th:nth-child(5), #tblCustomer td:nth-child(5) {
	width: 90px !important;
}
#tblCustomer th:nth-child(6), #tblCustomer td:nth-child(6), #tblCustomer th:nth-child(8), #tblCustomer td:nth-child(8) {
	width: 120px !important;
}
#tblCustomer th:last-child, #tblCustomer td:last-child {
	width: 50px !important;
}

.followupstatus{
	font-weight:bold;
}