#tblCustomer th.name, #tblCustomer td.name{
	width:220px!important;
}
#tblCustomer th.contact, #tblCustomer td.contact {
	width: 150px !important;
}
#tblCustomer th.email, #tblCustomer th.abss, #tblCustomer td.email, #tblCustomer td.abss {
	width: 110px !important;
}
#tblCustomer th.customattrs, #tblCustomer td.customattrs {
	width: 250px !important;
	min-width: 250px !important;
}

#tblCustomer th.status, #tblCustomer td.status {
	width: 95px !important;
}
#tblCustomer th.date, #tblCustomer td.date {
	width: 120px !important;
}
#tblCustomer th.balance, #tblCustomer td.balance {
	width: 120px !important;
}
#tblCustomer th.list, #tblCustomer td.list{
	width: 120px !important;
}
#tblCustomer th.action, #tblCustomer td.action {
	width: 140px !important;
	min-width:140px;
}
#tblCustomer th:last-child, #tblCustomer td:last-child {
	width: 50px !important;
}

.followupstatus{
	font-weight:bold;
}

