/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
*{box-sizing: border-box;}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  /*color: #1B1B21;*/
 font-family: 'Open Sans', sans-serif;
}
body {
  color: #545051;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family:RusticLoveTattoo;
    src: url(../fonts/RusticLoveTattoo.otf);
}

.selector-for-some-widget {
  box-sizing: content-box;
}
a:hover { text-decoration: none }

button:focus {
	outline: 0;
	outline: 5px auto -webkit-focus-ring-color;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.dash__price--app.activee .sin {
  display: none;
}
.dash__price--app.activee .mul {
  display: block;
  margin-right: 9px;
}
.dash__price--app span {
  margin-right: 10px;
}

/* header-area-start */

.header {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-right: 25px;
  border-bottom: 0.5px solid rgba(107, 105, 105, 0.20);
  background: #FFF;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.header__left {
  display: flex;
  align-items: center;
}
.bar {
  margin-right: 54px;
}
.bar a {
  color: #2640A9;
  font-size: 19px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right a {
  margin-left: 43px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #253DA1;
  display: flex;
  align-items: center;
}
.header__lun {
  display: flex;
}
.header__lun .nice-select {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #253DA1;
  border: 0;
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding-left: 0;
}
.header__lun .nice-select:after {
  border-color: #253DA1;
  height: 10px;
  width: 10px;
}
.header .header__lun .list {
  border-radius: 12px;
  background: var(--White, #FFF);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.50);
  width: 124px;
  text-align: center;
  justify-content: center;
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 149% !important;
  text-align: center;
  padding: 16px;
}
.header__lun .list li {
  text-align: center;
  color: var(--Dark-2, #323232);
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  height: auto;
  background: #fff !important;
  height: auto !important;
  padding: 8px 0 !important;
  min-height: auto !important;
}
a {
  text-decoration: none;
}
.header__right a i {
  padding-bottom: 7px;
}

.header__user a img {
  margin-right: 6px;
}
.header__lun a i {
  margin-left: 7px;
}

/* header-area-end */

/* dashbord-area-start */

.dash__flex {
  display: flex;
  justify-content: space-between;
}
.dash__left {
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
  /*width: 15.6%;*/
  width:12%;
  padding: 45px 25px;
  left: 0;
  position: absolute;
  transition: .3s;
  z-index: 999;
}
.dash__left.activee {
  /*! left: -100%; */
}
.dash__body {
	width: 84%;
	padding: 33px 40px;
	padding-bottom: 70px;
	/*margin-left: 15.6%;*/
	margin-left:12%;
	transition: .3s;
}

.dash__body.activee {
	margin-left: 5%;
	width: 95%;
}.dash__left.activee .dash__menu li a:hover p {
	opacity: 1;
	visibility: visible;
}
.dash__left.activee .dash__menu li a p {
  /*! display: none; */
  position: absolute;
  left: 81px;
  color: #253FA1 !important;
  border: 1px solid #253FA1;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 13px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: .3s;
}
.dash__left.activee .dash_menu_title {
  display: none;
}
.dash__left.activee .submenu {
  display: none;
}
.dash__left.activee {
  width: 5%;
  padding-left: 0;
}


.dash__left.activee span {
  margin: 0 !important;
}

.dash__rem--btn {
  border-radius: 15px;
  background: rgba(208, 49, 45, 0.75);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.dash__rem--btn p {
  color: var(--text-inverse, #FFF);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /*! width: 191px; */
  margin: 0;
}
.dash__rem--btn span {
  color: #FFF;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /*! width: 119px; */
  margin: 0 50px;
}
.dash__play--flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single__play {
  width: 33%;
  border-radius: 15px;
  background: #02055A;
  padding: 20px;
  text-align: center;
}
.single__play h3 {
  color: var(--text-inverse, #FFF);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}
.single__play p {
  color: var(--text-inverse, #FFF);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.dash_menu_title {
  margin-bottom: 25px;
}
.dash_menu_title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #130101;
  margin: 0;
}.dash__menu li a p {
	margin: 0;
	transition: .3s;
}
.dash__menu li a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  height: 53px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: #111111;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: .3s;
}
.submenu li a:hover {
	border-left: 3px solid #2B55B1;
	border-radius: 0;
}
.dash__menu li a span {
  /*width: 24px;*/
  margin-right: 14px;
}
.dash__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.dash__top--title h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: 0;
  color: #253DA1;
}
.dash__top--title h5 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 55px;
	margin: 0 1rem;
	color: #666;
	cursor:pointer;
}
.dash__top--btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.dash__top--btn a {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  color: #2B55B1;
  margin-right: 15px;
}
.dash__top--select .nice-select .list {
  border-radius: 12px;
  background: var(--White, #FFF);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.50);
  padding: 16px;
  width: 176px;
  left: 50% !important;
  transform: translateX(-50%);
}
.option.selected.focus {
}
.dash__top--select .option.disabled {
  color: var(--Soft, #848484);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  background: #fff;
  min-height: auto;
  margin-bottom: 12px;
}
.dash__top--select .list li {
  color: #323232;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  padding: 8px 0;
  min-height: auto;
  margin-bottom: 8px;
  background: #fff !important;
}
.dash__top--select .list li:last-child {
  margin: 0;
}
.dash__top--select .list li:hover {
  color: #2B55B1;
}
.dash__top--select .nice-select {
  border-radius: 22px;
  background: #323232;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.dash__top--select .nice-select:after {
  border-color: #fff;
  right: 17px;
}

.dash__mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dash_mid_right {
  width: 25.7%;
}
.dash_mid_left {
  width: 71.55%;
}
.dash__price {
  border-radius: 25px;
  background: rgba(2, 5, 90, 0.15);
  padding: 20px 20px 24px 20px;
  margin-bottom: 20px;
}
.price__title label {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
  margin-bottom: 34px;
}
.price__title p {
  color: #2B55B1;
  font-size: 70px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}
.price__title {
  margin-bottom: 47px;
}
.price__add--wrap label {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
  margin-bottom: 22px;
}
.price__add--btn button {
  border-radius: 50px;
  /*! background: var(--primary-hover, #2B55B1); */
  padding: 12px 20px 12px 16px;
  border: 0;
  margin-right: 21px;
  border-radius: 50px;
  border: 2.5px solid #2B55B1;
  background: #FFF;
  color: #2B55B1;
  font-weight: 600;
}
.checks {
  display: none;
}
.price__add--btn button span {
  margin-right: 4px;
}
.dash__price--app h2 {
  border-radius: 15px;
  background: rgba(2, 0, 90, 0.75);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}
.dash__price--app {
  margin-bottom: 20px;
}
.single__add {
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  display: none;
}
.single__add span {
  border-radius: 15px 0px 0px 15px;
  background: var(--primary-hover, #2B55B1);
  width: 256px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}
.single__add input {
  border-radius: 0px 15px 15px 0px;
  background: #EFEFF0;
  width: 100%;
  border: 0;
  height: 100%;
  padding: 0 83px;
  color: var(--text-subdued, #666E7A);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}
.single__add a {
  position: absolute;
  color: #2B55B1;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  right: 67px;
  top: 50%;
  transform: translateY(-50%);
}
.dash__pay {
  border-radius: 15px;
  background: #02055A;
  padding: 20px 39px;
  margin-bottom: 20px;
}
.dash__pay--title h3 {
  color: #F7F9FB;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  margin: 0;
}
.dash__pay--title {
  margin-bottom: 30px;
}
.dash__pay--code label {
  color: #F7F9FB;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  display: block;
  margin-bottom: 10px;
}
.dash__pay--code input {
  border-radius: 12px;
  background: var(--Input-field-background, #F2F4F8);
  width: 100%;
  height: 43px;
  border: 0;
  padding: 0 24px;
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.dash__pay--code {
  margin-bottom: 16px;
}
.dash__btn {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.dash__btn button {
  border-radius: 15px;
  border: 0;
  background: #378805;
  width: 130px;
  height: 60px;
  color: var(--text-inverse, #FFF);
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.dash__btn button.red {
  background: #D0312D;
}
.dash__table {
  border-radius: 25px;
  background: rgba(2, 5, 90, 0.05);
  padding: 20px;
}
.table__single h3 {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.table__single h3 span {
  font-weight: 700;
}
.table__single {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #3D3D3D;
}
.table__single.items h2 {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 11px;
}
.table__single.items h3 {
  color: #000;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}
.table__single.last h3:last-child {
  font-weight: 700;
}
.table__single.last {
  border: 0;
  margin: 0;
  padding: 0;
}
.table__single.fast h3:nth-child(1) {
  margin-bottom: 20px;
}
/* dashbord-area-end */

.toggle-button.toggle {
  border-radius: 50px;
  background: var(--primary-hover, #2B55B1);
  color: #fff;
}



.single__add.activee {
  display: flex!important;
}


.submenu li a {
  padding: 0;
  height: auto;
  margin-bottom: 12px;
  /*! height: 28px; */
  display: flex;
  align-items: center;
  padding-left: 22px;
  /*! border-left: 3px solid #253DA1; */
  /*! border-radius: 0; */
  transition: 0.3s;
  margin: 15px 0;
}
.submenu {
  padding-left: 40px;
  max-width: 300px;
}

.submenu li a.active {
	border-left: 3px solid #253DA1;
	border-radius: 0 !important;
	background: transparent !important;
	color: #253da1 !important;
	transition: 0.3s;
}

.nice-select .option {
	color: #000;
}

.dash__menu li a.active {
  border-radius: 8px;
  background: #2B55B1;
  color: #fff;
  position: relative;
}
.dash__menu li a.active span img {
  filter: brightness(999);
}
.price__add--btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dash__play--flex a {
	display: contents;
}
.nice-select .list {
	left: -28px !important;
}



.overlay {
	position: fixed;
	content: "";
	background: #000;
	height: 100vh;
	width: 100%;
	z-index: 9;
	opacity: .5;
	left: -100%;
	transition: .3s;
}

/* .dash__menu li a[aria-expanded="true"] {
  background: #2B55B1;
} */
/* .dash__left .dash__menu li a[aria-expanded="true"] p {
  color: #fff !important;
} */
/* .dash__left .dash__menu li a[aria-expanded="true"] img {
 filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(229deg) brightness(104%) contrast(101%);
}
 */
/* .dash__left.activee .dash__menu li a p {
  color: #2B55B1 !important;
}

.dash__menu li a.active p {
	color: #fff !important;
} */

.active_btn {
  background: #2B55B1;
  color: #fff !important;
}
/* .active_btn p{
  color: #fff !important;
} */
.active_btn img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(229deg) brightness(104%) contrast(101%);
 }