.bordertopbottom {
	border-top: 1px solid black !important;
	border-bottom: 1px solid black !important;
}
.bordertop {
	border-top: 1px solid black !important;
}
@media print {
	footer, tfoot {
		page-break-after: always;
	}
}
