/* XL Device :1200px. */
@media (min-width: 1440px) and (max-width: 1600px) {



.dash__left {
  /*! left: -100%; */
  width: 19%;
}
.dash__left.activee {
  left: 0;
  width: 6.5%;
}
.dash__body.activee {
  /*! width: 80%; */
  /*! margin-left: 20%; */
}
.dash__top--title h3 {
  font-size: 28px;
  line-height: 40px;
}
.header__right a {
  font-size: 20px;
}
.header__right img {
  max-width: 30px;
}
.price__title label {
  font-size: 16px;
  line-height: 20px;
}
.price__title p {
  font-size: 57px;
}
.price__add--wrap label {
  font-size: 16px;
  margin-bottom: 18px;
}
.price__add--btn button {
  margin-right: 13px;
  font-size: 14px;
}
.price__add--btn button:last-child {
  margin: 0;
}
.dash__price--app a {
  font-size: 16px;
}
.dash__rem--btn p {
  font-size: 16px;
}
.dash__rem--btn span {
  font-size: 16px;
}
.single__play h3 {
  font-size: 18px;
}
.single__play p {
  font-size: 18px;
}
.dash__pay {
  padding: 20px;
}
.dash__pay--title h3 {
  font-size: 24px;
  line-height: 36px;
}
.dash__pay--code label {
  font-size: 16px;
}
.dash__btn {
  padding: 0;
}
.dash__btn button {
  width: 48%;
  font-size: 12px;
}
.table__single h3 {
  font-size: 16px;
}
.table__single.secend h2 {
  font-size: 17px;
}
.table__single.secend h3 {
  font-size: 13px;
  line-height: 23px;
}
.dash__body {
	width: 79%;
	margin-left: 19%;
}

.single__add span {
  font-size: 16px;
}
.single__add input {
  font-size: 16px;
}

.single__add a {
  font-size: 16px;
}


}



/* XL Device :1200px. */
@media (min-width: 1201px) and (max-width: 1439px) {




.dash__left {
  left: -100%;
}
.dash__left.activee {
  left: 0;
  width: 300px;
  padding-left: 25px;
}
.dash__body.activee {
  /*! width: 80%; */
  /*! margin-left: 20%; */
}
.dash__top--title h3 {
  font-size: 28px;
  line-height: 40px;
}
.header__right a {
  font-size: 20px;
}
.header__right img {
  max-width: 30px;
}
.price__title label {
  font-size: 16px;
  line-height: 20px;
}
.price__title p {
  font-size: 57px;
}
.price__add--wrap label {
  font-size: 16px;
  margin-bottom: 18px;
}
.price__add--btn button {
  margin-right: 13px;
  font-size: 14px;
}
.price__add--btn button:last-child {
  margin: 0;
}
.dash__price--app a {
  font-size: 16px;
}
.dash__rem--btn p {
  font-size: 16px;
}
.dash__rem--btn span {
  font-size: 16px;
}
.single__play h3 {
  font-size: 18px;
}
.single__play p {
  font-size: 18px;
}
.dash__pay {
  padding: 20px;
}
.dash__pay--title h3 {
  font-size: 24px;
  line-height: 36px;
}
.dash__pay--code label {
  font-size: 16px;
}
.dash__btn {
  padding: 0;
}
.dash__btn button {
  width: 48%;
  font-size: 12px;
}
.table__single h3 {
  font-size: 16px;
}
.table__single.secend h2 {
  font-size: 17px;
}
.table__single.secend h3 {
  font-size: 13px;
  line-height: 23px;
}
.dash__body {
	width: 100%;
	margin-left: 0;
}
.dash__left.activee .submenu.show {
  display: block;
}  

.dash__left.activee .dash__menu li a p {
  position: unset;
  opacity: 1;
  visibility: visible;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: #000 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.dash__left.activee span {
  margin-right: 14px !important;
}
.dash__left.activee .dash__menu li a.active p {
  color: #fff !important;
}
.dash__left.activee {
  padding-left: 25px;
}.dash__left.activee .dash_menu_title {
	display: block;
}
.dash__body {
  width: 100% !important;
  margin: 0 !important;
}.dash__left.activee .dash_menu_title {
	display: block;
}
.single__add span {
  font-size: 16px;
}
.single__add input {
  font-size: 16px;
}

.single__add a {
  font-size: 16px;
}



}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.overlay.active {
	left: 0;
}

.cross.d-none {
  display: block !important;
  position: absolute;
  font-size: 29px;
  top: 10px;
  right: 16px;
  color: #2B55B1;
}
.dash__left.activee .dash_menu_title {
	display: block;
}

.dash__menu li a {
  height: 41px;
  font-size: 14px;
}
.submenu li a {
  height: auto;
  height: 25px;
  font-size: 14px;
}

.dash__left {
  left: -100%;
  width: 300px;
  position: fixed;
  top: 0;
  height: 100vh;
}
.dash__left.active {
  left: 0;
  width: 300px;
  position: fixed;
  top: 0;
  height: 100vh;
}.dash__left.activee .submenu.show {
  display: block;
}  .dash__left.activee .dash__menu li a[aria-expanded="true"] p {
	color: #fff !important;
}
.dash__left.activee .dash__menu li a p {
  position: unset;
  opacity: 1;
  visibility: visible;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: #000 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.dash__left.activee span {
  margin-right: 14px !important;
}
.dash__left.activee .dash__menu li a.active p {
  color: #fff !important;
}
.dash__left.activee {
  padding-left: 25px;
}
.dash__body {
  width: 100% !important;
  margin: 0 !important;
}
.dash__body.activee {
  /*! width: 80%; */
  /*! margin-left: 20%; */
}
.dash__top--title h3 {
  font-size: 28px;
  line-height: 40px;
}
.header__right a {
  font-size: 20px;
}
.header__right img {
  max-width: 30px;
}
.price__title label {
  font-size: 16px;
  line-height: 20px;
}
.price__title p {
  font-size: 57px;
}
.price__add--wrap label {
  font-size: 16px;
  margin-bottom: 18px;
}
.price__add--btn button {
  margin-right: 6px;
  font-size: 12px;
}
.price__add--btn button:last-child {
  margin: 0;
}
.dash__price--app a {
  font-size: 16px;
}
.dash__rem--btn p {
  font-size: 16px;
}
.dash__rem--btn span {
  font-size: 16px;
}
.single__play h3 {
  font-size: 18px;
}
.single__play p {
  font-size: 18px;
}
.dash__pay {
  padding: 20px;
}
.dash__pay--title h3 {
  font-size: 24px;
  line-height: 36px;
}
.dash__pay--code label {
  font-size: 16px;
}
.dash__btn {
  padding: 0;
}
.dash__btn button {
  width: 48%;
  font-size: 12px;
}
.table__single h3 {
  font-size: 16px;
}
.table__single.secend h2 {
  font-size: 17px;
}
.table__single.secend h3 {
  font-size: 13px;
  line-height: 23px;
}
.dash__body {
	width: 100%;
	margin-left: 0;
	padding: 20px;
	padding-bottom: 70px;
}

.single__add span {
  font-size: 16px;
}
.single__add input {
  font-size: 16px;
}

.single__add a {
  font-size: 16px;
}








.dash__top--select .nice-select .list {
	border-radius: 12px;
	background: var(--White, #FFF);
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.50);
	padding: 16px;
	width: 176px;
	left: 10% !important;
	transform: translateX(-50%);
}




}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.overlay.active {
	left: 0;
}.header__lun .nice-select {
	font-size: 18px;
}

.cross.d-none {
  display: block !important;
  position: absolute;
  font-size: 29px;
  top: 10px;
  right: 16px;
  color: #2B55B1;
}


.dash__menu li a {
  height: 41px;
  font-size: 14px;
}
.submenu li a {
  height: auto;
  height: 25px;
  font-size: 14px;
}

.dash__left {
  left: -100%;
  position: fixed;
  top: 0;
}
.dash__left.active {
  left: 0;
  width: 300px;
  height: 100%;
}.dash__left.activee .dash_menu_title {
	display: block;
}.dash__left.activee .submenu.show {
  display: block;
}
.dash__left.activee .dash__menu li a p {
  position: unset;
  opacity: 1;
  visibility: visible;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: #000 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.dash__left.activee span {
  margin-right: 14px !important;
}
.dash__left.activee .dash__menu li a.active p {
  color: #fff !important;
}
.dash__left.activee {
  padding-left: 25px;
}
.dash__body {
  width: 100% !important;
  margin: 0 !important;
}
.dash__body.activee {
  /*! width: 80%; */
  /*! margin-left: 20%; */
}
.dash__top--title h3 {
  font-size: 28px;
  line-height: 40px;
}
.bar {
  margin-right: 30px;
}
.dash_mid_left {
  width: 100%;
  margin-bottom: 20px;
}
.dash_mid_right {
  width: 100%;
}
.header__right a {
  font-size: 18px;
  margin-left: 20px;
}
.header__right img {
  max-width: 30px;
}
.price__title label {
  font-size: 16px;
  line-height: 20px;
}
.price__title p {
  font-size: 57px;
}
.price__add--wrap label {
  font-size: 16px;
  margin-bottom: 18px;
}
.price__add--btn button {
  margin-right: 6px;
  font-size: 12px;
}
.price__add--btn button:last-child {
  margin: 0;
}
.dash__price--app a {
  font-size: 16px;
}
.dash__rem--btn p {
  font-size: 16px;
}
.dash__rem--btn span {
  font-size: 16px;
}
.single__play h3 {
  font-size: 18px;
}
.single__play p {
  font-size: 18px;
}
.dash__pay {
  padding: 20px;
}
.dash__pay--title h3 {
  font-size: 24px;
  line-height: 36px;
}
.dash__pay--code label {
  font-size: 16px;
}
.dash__btn {
  padding: 0;
}
.dash__btn button {
  width: 48%;
  font-size: 12px;
}
.table__single h3 {
  font-size: 16px;
}
.table__single.secend h2 {
  font-size: 17px;
}
.table__single.secend h3 {
  font-size: 13px;
  line-height: 23px;
}
.dash__body {
	width: 100%;
	margin-left: 0;
	padding: 20px;
	padding-bottom: 70px;
}

.single__add span {
  font-size: 16px;
}
.single__add input {
  font-size: 16px;
}

.single__add a {
  font-size: 16px;
}



.dash__top--select .nice-select .list {
	border-radius: 12px;
	background: var(--White, #FFF);
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.50);
	padding: 16px;
	width: 176px;
	left: 10% !important;
	transform: translateX(-50%);
}

	
}
 

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
.overlay.active {
	left: 0;
}
.header__lun .nice-select {
	font-size: 14px;
	margin-left: 20px;
}
.cross.d-none {
  display: block !important;
  position: absolute;
  font-size: 29px;
  top: 10px;
  right: 16px;
  color: #2B55B1;
}
.dash__left.activee .submenu.show {
  display: block;
}
  .dash__left.activee .dash__menu li a[aria-expanded="true"] p {
	color: #fff !important;
}
.dash__left.activee .dash__menu li a p {
  position: unset;
  opacity: 1;
  visibility: visible;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  /*! color: #000 !important; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #000 !important;
}
.dash__left.activee span {
  margin-right: 14px !important;
}
.dash__left.activee .dash__menu li a.active p {
  color: #fff !important;
}
.dash__left.activee {
  padding-left: 25px;
}
.dash__body {
  width: 100% !important;
  margin: 0 !important;
}.dash__left.activee .dash_menu_title {
	display: block;
}

.dash__menu li a {
  height: 41px;
  font-size: 14px;
}
.submenu li a {
  height: auto;
  height: 25px;
  font-size: 14px;
}

.dash__left {
  left: -100%;
  top: 0;
  position: fixed;
  overflow: scroll;
}
.dash__left.active {
  left: 0;
  width: 300px;
  height: 100%;
}
.dash__body.activee {
  /*! width: 80%; */
  /*! margin-left: 20%; */
}
.dash__top--title h3 {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 13px;
}
.bar {
  margin-right: 20px;
}
.dash_mid_left {
  width: 100%;
  margin-bottom: 20px;
}
.dash_mid_right {
  width: 100%;
}
.header__right a {
  font-size: 14px;
  margin-left: 16px;
}
.header__right img {
  max-width: 21px;
}
.price__title label {
  font-size: 16px;
  line-height: 20px;
}
.price__title p {
  font-size: 41px;
  line-height: 14px;
}
.price__add--wrap label {
  font-size: 16px;
  margin-bottom: 18px;
}
.price__add--btn button {
  margin-right: 6px;
  font-size: 12px;
  margin-bottom: 6px;
  display: flex;
}
.price__add--btn button:last-child {
  margin: 0;
}
.dash__price--app a {
  font-size: 16px;
}
.dash__rem--btn p {
  font-size: 16px;
}
.dash__rem--btn span {
  font-size: 16px;
}
.single__play h3 {
  font-size: 18px;
}
  
.dash__top--title {
  width: 100%;
}
.single__play {
  width: 100%;
  margin-bottom: 20px;
}
.single__play:last-child {
  margin: 5px 0;
}
.single__play p {
  font-size: 18px;
}
.dash__pay {
  padding: 20px;
}
.dash__pay--title h3 {
  font-size: 24px;
  line-height: 36px;
}
.dash__pay--code label {
  font-size: 16px;
}
.dash__btn {
  padding: 0;
}
.dash__btn button {
  width: 48%;
  font-size: 12px;
}
.table__single h3 {
  font-size: 16px;
}
.table__single.secend h2 {
  font-size: 17px;
}
.table__single.secend h3 {
  font-size: 13px;
  line-height: 23px;
}
.dash__body {
	width: 100%;
	margin-left: 0;
	padding: 20px;
	padding-bottom: 70px;
}

.single__add span {
  font-size: 16px;
}
.single__add input {
  font-size: 16px;
}

.single__add a {
  font-size: 16px;
}
.dash__price--app h2 {
	font-size: 16px;
}


.site__logo img {
	max-width: 80px;
}
.price__add--btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*! overflow: scroll; */
	width: 632px;
}
.price__add--wrap {
	overflow: scroll;
}

}





/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}