.border {
    cursor:pointer;
    float:right;    
    height: 2.4em;
    margin-right: -0.9em;
    width: 1.1em;
    padding: 0 1px;
    background-color:#a8a4a4;
    color:white;
}

.imgbtn{
    width:5%;
    cursor:pointer;
}

#gcomboModal input{
    max-width:none;
}
