#salesColblk input:not(.flex):not(.paymenttype), #salesColblk select:not(.flex), textarea:not(.flex) {
	max-width: 200px!important;
}

#tblSales .form-control:not(textarea):not(#txtKeyword) {
	padding: 0 .75rem !important;
	height: calc(1.5rem + 2px) !important;
}
