.enquiry:not(.disabled){
    cursor:pointer;
    font-size:90%;
}
#tblmails tbody .btn{
    font-size:80%;
}
#drpLatestRecordCount {
    padding: 0 .75rem !important;
    height: calc(1.5rem + 2px) !important;
}