.form-control:not(textarea) {
	padding: 0 .75rem !important;
	height: calc(1.5rem + 2px) !important;
}
#tblReserve th.itemcode, #tblReserve td.itemcode {
	width: 220px;
	max-width: 220px !important;
}
#tblReserve th.itemdesc, #tblReserve td.itemdesc {
	width: 300px;
	max-width: 300px !important;
}
#tblReserve th.itemprice, #tblReserve td.itemprice {
	width: 140px;
}
#tblReserve th.itemoptions, #tblReserve td.itemoptions {
	width: 140px;
}
#tblReserve th.itemvari, #tblReserve td.itemvari {
	width: 80px;
}
#tblReserve th.onhandstock, #tblReserve td.onhandstock {
	width: 80px;
}
#tblReserve th.locqty, #tblReserve td.locqty {
	width: 100px;
}
#tblReserve th:last-child, #tblReserve td:last-child{
	width:100px;
}
