.form-control:not(textarea):not(#txtKeyword) {
	padding: 0 .75rem !important;
	height: calc(1.5rem + 2px) !important;
	
}
.form-control:not(textarea):not(#txtKeyword):not(.vt) {
	font-size: .9rem !important;
}
.form-control.vt {
	font-size: .7rem !important;
}
#tblPSI thead th:first-child,#tblPSI tbody td:first-child {
	width: 50px !important;
	max-width:50px!important;
}
#tblPSI thead th.num, #tblPSI tbody td.num {
	width: 120px !important;
	min-width: 120px !important;
}
#tblPSI thead th.unit, #tblPSI tbody td.unit {
	width: 80px !important;
	min-width: 80px !important;
}
#tblPSI thead th.sellqty, #tblPSI tbody td.sellqty {
	width: 100px !important;
	min-width: 100px !important;
}
#tblPSI thead th.ip, #tblPSI tbody td.ip, #tblPSI thead th.iv, #tblPSI tbody td.iv {
	width: 100px !important;
	min-width:100px!important;
}
#tblPSI thead th.treceived, #tblPSI tbody td.treceived {
	width: 100px !important;
	min-width: 100px !important;
}
#tblPSI thead th.selllocation, #tblPSI tbody td.selllocation, #tblPSI thead th.selljob, #tblPSI tbody td.selljob {
	width: 100px !important;
	min-width: 100px !important;
}
#tblPSI tbody :nth-child(n+4 of td) input, #tblPSI tbody :nth-child(n+4 of td) select {
	width: 100%;
}

#tblPayment tbody tr > td:not(:first-child) {
	width: 290px !important;
}
#tblPayment tbody tr > td:nth-child(3){
	width:230px!important;
	min-width:230px!important;
}
#tblPayment tbody tr > td:nth-child(4) {
	width: 300px !important;
	min-width: 300px !important;
}
#tblPayment tbody tr > td:nth-child(6) {
	width: 190px !important;
	min-width: 190px !important;
}

#tblPayment tbody tr td:last-child{
	width:150px;
	max-width:150px;
	min-width:150px;
}

#tblPayment tbody tr td .form-control{
	font-size:100%!important;
}