<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/994f40fb-69dc-4006-a52c-ea3e065a6cfd/resourcegroups/SBResourceSE/providers/Microsoft.Web/sites/SmartBusinessWeb20231118174630</ResourceId>
    <ResourceGroup>SBResourceSE</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartbusinessweb20231118174630.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>smartbusinessweb20231118174630.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartBusinessWeb20231118174630</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$SmartBusinessWeb20231118174630</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PPWDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PPWDAL.PPWDbContext, PPWDAL" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=UT-J302YMG5-KEV;Database=_DBNAME_;User Id=sa;Password=Admin8234;Encrypt=False;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=UT-J302YMG5-KEV;Database=_DBNAME_;User Id=sa;Password=Admin8234;Encrypt=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eTrackConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=UT-J302YMG5-KEV;Database=SmartMarketingPos;Trusted_Connection=True;Encrypt=False;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eTrackConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=UT-J302YMG5-KEV;Database=SmartMarketingPos;Trusted_Connection=True;Encrypt=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eTrackDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=UT-J302YMG5-KEV;Initial Catalog=SmartMarketingPos;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eTrackDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/eTrackDbContext.csdl|res://*/eTrackDbContext.ssdl|res://*/eTrackDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UT-J302YMG5-KEV;Initial Catalog=SmartMarketingPos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>MergeAllPagesAndControlToASingleAssembly</WDPMergeOption>
    <UseMerge>true</UseMerge>
    <ContentAssemblyName>sba.dll</ContentAssemblyName>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eTrackConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eTrackDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>