#tblHotList th:nth-child(1), #tblHotList td:nth-child(1), #tblHotList th:nth-child(2), #tblHotList td:nth-child(2) {
    width: 220px !important;
}

#tblHotList th:nth-child(3), #tblHotList th:nth-child(4), #tblHotList td:nth-child(3), #tblHotList td:nth-child(4) {
    width: 150px !important;
    /*max-width: 110px !important;*/
}


#tblHotList th:last-child, #tblHotList td:last-child {
    width: 120px !important;
    /*max-width: 120px !important;*/
}

.fc-content{
    max-width:960px;
}
