#tblOS tbody tr {
	cursor: pointer;
}

.saveBtnCls {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.leftcol{
	background-color:#6c757d;
	color:#fff;
	text-align:right;
	padding:1.5em;
}
.rightcol{
	padding:1.5em;
	margin-left:1.5em;
}

#osblk{
	border:1px solid #808080;
}

.fileinput-button{
	cursor:pointer;
}